.App {
  text-align: center;
}

body{
  background-color: rgb(239, 239, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.StudentBorder{
  position: relative;
  border-style: ridge;
  border-width: 5px;
  width: 700px;
  height: fit-content;
  background-color: rgb(165, 165, 190);
}

.AddBorder{
  background-color: rgb(225, 233, 255);
  width: 22%;
  border-style: inset;
  border-width: 5px;
  height: fit-content;
  width: fit-content;
}

.addDiv{
  position: absolute;
  top: 5%;
  right: 7%;
}

.logocss{
  position: absolute;
  top: 0%;
  left: 40%;

}

textarea{
  resize: none;
}

.tags{
  position: relative;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-style: italic;
}

.mainDiv{
  position: absolute;
  left: 1%;
  top: 18%;
}

.listDiv{
  position: absolute;
  left: 65%;
}

.signP{
  position: absolute;
  right: 1%;
  top: 0%;
  font-size: 6pt;
}